

header{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(228, 228, 228);
}

.links a{
    text-decoration: none;
    color: black;
    margin: 5px 10px;
}

.active{
    border-bottom: solid 1px blue;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-content{
    position: relative;
}

.main-img{
    width: 100vw;
    object-fit: cover;
    max-height: 300px;
    
}

.page-title{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.card-area{
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card-content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin: 30px;
    box-shadow: 8px 8px 1px rgba(214, 214, 214, 0.521);
}

.card-img{
    width: 300px;
}

.reactions{
    display: flex;
    margin: 10px;
    gap: 10px;
}

.reactions button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    box-sizing: border-box;
    width: 70px;
    height: 40px;
}

.reactions button:active{
    border:  solid 2px blue;
}

.quiz-content{
    background-color: rgb(178, 219, 216);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.quiz-area{
    width: 80%;
    background-color: rgb(255, 255, 255);
    border:  solid 3px rgb(0, 80, 172);
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.quiz-area select{
    border: solid 1px gray;
    padding: 10px;
    border-radius: 10px;
}

.quiz-btn{
    background-color: #FFF;
    border: solid 1px gray;
    border-radius: 10px;
    width: 50%;
    height: 40px;
    margin-top: 20px ;
}

.quiz-btn:hover{
    border: solid 2px rgb(0, 132, 194);
    box-sizing: border-box;
}

.comment-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.view-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.comment{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px rgb(0, 40, 114);
    width: 60%;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.timer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: rgb(161, 211, 208);
}

.timer input{
    padding: 5px;
    border: none;
}

.btns{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.btns button{
    border: none;
    padding: 10px;
    border-radius: 10px;
}

